.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
}

.navbar-shadow {
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2);
}

.logo-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.logo-box h1 {
    font-size: 30px;
    padding-top: 7px;
}

.logo-box img {
    width: 35px;
    cursor: pointer;
    margin-left: -25px;
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 25px;
    width: 50%;
}

.search img {
    width: 20px;
    cursor: pointer;
}

.search input {
    border: none;
    outline: none;
    background-color: transparent;
    font-weight: 600;
}

.login-box {
    display: flex;
    align-items: center;
    gap: 20px;
}

.login-box a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.login-box a:hover {
    color: rgb(67, 9, 102);
}

.login-box img {
    width: 30px;
    cursor: pointer;
}

.form-control1 {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

@media only screen and (max-width: 768px) {
   
    .logo-box {
        padding-left: 30px;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .logo-box h1 {
        font-size: 20px;
        padding-top: 5px;
    }

    .logo-box img {
        width: 25px;
    }

    .search-box {
        padding-left: 20px;
    }

    .search {
        width: 70%;
        
    }

    .search img {
        width: 20px;
    }

    .search input {
        width: 100%;
    }

    .login-box {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .login-box a {
        display: none;
    }

    .about-img {
        display: block;
    }

    .login-box img {
        width: 30px;
    }
}