.sidebar {
    height: 100%;
    width: 15%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    padding: 65px 0 0 23px;
    transition: 0.5s;
    border-right: 1px solid #575757;
    box-shadow: 3px 0 3px rgba(0, 0, 0, .1);
    z-index: 100;
}

.sidebar-menu {
    list-style-type: none;
    padding: 0;
}

.sidebar-menu li {
    padding: 0px 16px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

.sidebar-menu a {
    color: black;
    text-decoration: none;
    display: block;
    transition: 0.3s;
}

.sidebar-menu li img {
    width: 30px;
    height: 30px;
    transition: 0.3s;
}

.sidebar-menu li p{
    font-size: 16px;
    font-weight: 500;
    margin-top: 19px;
}

.sidebar-menu li p:hover {
  color: rgb(67, 9, 102) ;
}

.small-sidebar {
    width: 8%;
    padding: 65px 0 0 23px;
}

.small-sidebar li{
    padding: 13px 16px;
}

.small-sidebar .sidebar-menu li p {
    display: none;
}

@media only screen and (max-width: 768px) {
    .sidebar {
        width: 35%;
        padding: 65px 0 0 0px;
    }

    .sidebar-menu li {
        padding: 0px 16px;

    }

    .sidebar-menu li a {
        text-align: center;
    }

    .small-sidebar {
        width: 10%;
    }

    .small-sidebar .sidebar-menu li {
        padding: 16px 7px;
    }
    
    .sidebar-menu li img {
        width: 25px;
        transition: 0.3s;
        height: 25px;
    }
}